@import "tailwindcss";

/* * {
  border: 1px solid red;
} */

::selection {
  background: transparent;
}

.homePageImage {
  background-image: url("/pages/HomePage/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.myShadow {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 1));
}

.myShadow2 {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
}

.borderShadow {
  box-shadow:
    0px 0px 5px #000,
    0px 0px 5px #000 inset;
}

.gb {
  @apply bg-linear-65 from-orange-900 to-orange-400;
}

.gbg {
  @apply bg-linear-65 from-green-900 to-green-400;
}

.rbg {
  @apply bg-linear-65 from-red-800 to-red-600;
}

.ts {
  text-shadow: 0px 0px 5px #000;
}

.hoverEffect {
  @apply transition-all hover:scale-110 active:scale-90;
}

.hoverEffect2 {
  @apply transition-all hover:scale-105 active:scale-100;
}

.selectable::selection {
  background: black;
}

.meterStyle::-webkit-meter-optimum-value {
  background: linear-gradient(90deg, goldenrod, green);
  box-shadow: 0 0 6px rgba(255, 215, 0, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.meterStyle::-webkit-meter-bar {
  border-radius: 4px;
}

.styledScrollbar::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

.styledScrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, red, goldenrod, goldenrod);
  box-shadow: 0 0 6px rgba(255, 215, 0, 0.8);
  border-radius: 5px;
}

.rangeStyle {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  background: black;
  border-radius: 3px;
  outline: none;
}

/* Track (WebKit browsers) */
.rangeStyle::-webkit-slider-runnable-track {
  height: 10px;
  background: black;
  border-radius: 3px;
}

/* Thumb (WebKit browsers) */
.rangeStyle::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: linear-gradient(90deg, red, goldenrod);
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
  bottom: 10px;
}

.rangeStyle::-webkit-slider-thumb:hover {
  transform: scale(0.9);
}
